body {
    background: linear-gradient(to bottom right, #007BFF, #0056b3);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.contenedor-principal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.botones-superiores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.buscar-grupo {
    display: flex;
    align-items: center;
}

.buscar-grupo input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 250px;
    outline: none;
}

.buscar-grupo button {
    padding: 8px 12px;
    background-color: #003b80; /* Color cambiado */
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.botones-superiores a {
    padding: 8px 12px;
    background-color: #003b80; /* Color cambiado */
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    white-space: nowrap;
}

.productos-box {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.producto-item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.producto-item img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.no-productos {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.producto-item button {
    background-color: #003b80; /* Color de fondo del botón */
    color: white; /* Color de texto */
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.loader:after {
    content: "";
    width: 40px;
    height: 40px;
    border: 5px solid #ccc;
    border-top-color: #4CAF50;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}
