body {
    background: linear-gradient(to bottom right, #007BFF, #0056b3);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.volver-btn {
    margin-bottom: 20px;
}

button {
    background-color: #003b80;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.9;
}

.btn-editar {
    background-color: orange;
}

.btn-eliminar {
    background-color: red;
}

.contenido-producto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-right: 150px;
    margin-left: 150px;
}

.imagen-container {
    margin-right: 20px;
}

.imagen-container img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.info-producto {
    margin-top: 10px;
    flex: 1 1 300px; /* permite que se reduzca y crezca responsivamente */
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
}


h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    margin: 10px 0;
    color: #444;
}

input[type="number"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form {
    margin-bottom: 15px;
}

.error {
    color: red;
    font-weight: bold;
}

select {
    padding: 8px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.info-producto p {
    word-wrap: break-word;
    max-width: 100%;
    
}
